<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Admin - Build Database</title>
  </head>
  <body>
    <form method="POST" action="admin_db_load_new.html" name="db_options">
      <table style="width: 50%" border="0">
        <tbody>
          <tr>
            <td>DAT FILE</td>
            <td><input type="text" name="db_dat_file">
            </td>
          </tr>
          <tr>
            <td>DB NAME</td>
            <td><input type="text" name="db_new_name">
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="Submit and load">
    </form>
    <p style="text-align: center;"><br>
    </p>
  </body>
</html>
